@import "tailwindcss";

@theme {
	/* Colors */
	--color-primary: #69260C;
	--color-primary-dark: #A64830;
	--color-secondary: #FFD287;
	--color-text: #201713;
	--color-text-light: #8C7B73;
	--color-text-light-two: #8C7B73;
	--color-bg-one: #F8F2ED;
	--color-bg-two: #FAEDDD;
	--color-body-bg: #faf5f2;
	--color-lg-white: #E5E0DC;

	/* Fonts */
	--font-base: "Outfit", sans-serif;
	--font-primary: "Cormorant", serif;

	/* Breakpoints */
	--breakpoint-xxs: 375px;
	--breakpoint-xs: 568px;
	--breakpoint-sm: 768px;
	--breakpoint-md: 992px;
	--breakpoint-wd: 1200px;
	--breakpoint-lp: 1401px;
	--breakpoint-ewd: 1931px;
}

@layer base {
	body {
		@apply text-[18px] leading-[1.55] font-light font-base tracking-[0.16px] text-text bg-bg-one break-words;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-primary;
	}

	/* Target the root or specific scrollable containers */
	.custom-scrollbar {
		--scrollbar-thumb: var(--color-amber-900);
		--scrollbar-track: var(--color-stone-200);

		/* Standard properties for Firefox/Modern Chrome */
		scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
		scrollbar-width: thin;
	}

	/* Webkit Legacy Support (Chrome/Safari/Edge) */
	.custom-scrollbar::-webkit-scrollbar {
		width: 8px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: var(--scrollbar-track);
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: var(--scrollbar-thumb);
		border-radius: 0;
	}


}

@layer utilities {

	.h1,
	h1 {
		@apply text-[20px] leading-[1.32] sm:text-[32px];
	}

	.h2,
	h2 {
		@apply sm:text-[60px] text-[48px] leading-none tracking-[-0.02em];
	}

	.xs-title {
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 3.6px;
	}

	.sm-title {
		font-size: 14px;
		line-height: 1.42;
		letter-spacing: 0.35px;
	}

	.container {
		@apply max-w-[1384px] mx-auto sm:px-10 px-5;
	}

	.has-high-trans-bg span {
		@apply text-secondary italic;
	}

	.has-high-trans-bg-text span {
		@apply text-text italic;
	}
}

@layer components {
	.arrow-btn {
		letter-spacing: 4.2px;
	}

	.ol-card-lists {
		padding-left: 210px;

		@media screen and (max-width: 991px) {
			padding-left: 0;
		}
	}

	.ol-card-lists img {
		transform-style: preserve-3d;
		@apply h-auto object-cover;
		aspect-ratio: 1/1.4;
		
		
		@media screen and (min-width: 992px) {
			@apply w-[305px] h-[348px] object-cover;
			margin-left: -210px;
			&:nth-child(1) {
				transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-6deg) skew(0deg, 0deg);
			}

			&:nth-child(2) {
				transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-4deg) skew(0deg, 0deg);
			}

			&:nth-child(3) {
				transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
			}

			&:nth-child(4) {
				transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
			}

			&:nth-child(5) {
				transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(2deg) skew(0deg, 0deg);
			}

			&:nth-child(6) {
				transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(4deg) skew(0deg, 0deg);
			}

			&:nth-child(7) {
				transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(6deg) skew(0deg, 0deg);
			}
		}

	}
}