@import "tailwindcss";

@theme {
	/* Colors */
	--color-primary: #69260C;
	--color-secondary: #FFD287;
	--color-text: #201713;
	--color-text-light: #8C7B73;
	--color-bg-one: #F8F2ED;
	--color-bg-two: #FAEDDD;
	--color-body-bg: #faf5f2;
	--color-lg-white: #E5E0DC;

	/* Fonts */
	--font-base: "Outfit", sans-serif;
	--font-primary: "Cormorant", serif;

	/* Breakpoints */
	--breakpoint-xs: 568px;
	--breakpoint-sm: 768px;
	--breakpoint-md: 992px;
	--breakpoint-wd: 1200px;
	--breakpoint-lp: 1401px;
	--breakpoint-ewd: 1931px;
}

@layer base {
	body {
		@apply text-[18px] leading-[1.55] font-light font-base tracking-[0.16px] text-text bg-bg-one;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-primary;
	}


}

@layer utilities {

	.h1,
	h1 {
		@apply text-[20px] leading-[1.32] sm:text-[32px];
	}

	.h2,
	h2 {
		@apply sm:text-[60px] text-[48px] leading-none tracking-[-0.02em];
	}

	.xs-title{
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 3.6px;
	}

	.container {
		@apply max-w-[1384px] mx-auto sm:px-10 px-5;
	}

	.has-high-trans-bg span{
		@apply text-secondary italic;
	}
}

@layer components {
	.arrow-btn{
		letter-spacing: 4.2px;
	}
}